{% extends "base.html" %}

{% block head %} 
{% endblock %}
{% block body %}
Analytics
<form method="POST" enctype="multipart/form-data" >
    {{ form2.hidden_tag() }}
    {{ form2.chat_prompt() }}
    {{ form2.submit() }}
</form>
<!--Chat Section-->
<div>
  {% for i in range(chat_history|length) %}
    {% if chat_history[i].candidates[0].content.role == "model" %}
    <div class="text-blue-500">{{ messages[i] }}</div>
      <div class="text-red-500">{{ chat_history[i].text }}</div>

    {% endif %}
  {% endfor %}
  
</div>

{% endblock %}
