{% extends 'base.html' %}

{% block head %}
{% endblock %}

<body>
{% block content %}
<main class="bg-[url('{{url_for('static', filename='/images/Screenshot 2025-02-22 182421.png') }}')] bg-center bg-cover bg-opacity-35 flex flex-col items-center relative">
  <!-- <img src="" class="absolute"> -->
    <div class="absolute bg-black w-full h-full opacity-70 right-0 left-0 top-0 bottom-0"></div>
    <div class="z-40 justify-center flex flex-col w-1/2">
      <h1 class=" text-white text-opacity-100 text-center text-6xl mt-24 font-semibold">Breached Beaver</h1>
      <p class="text-white text-center mt-24 text-lg">Analyze Tariff Impact. <br> Find Canadian Suppliers. <br> Optimize with AI</p>
      <a class="bg-evilred text-center text-white w-72 mx-auto rounded-lg py-4 mt-10" href="/dashboard">
        Get Started
      </a>
    </div>
  </main>
  {% endblock %}

{% block footer %}{% endblock %}
</body>

<!-- todo -->
<!-- style dashboard, give data to gemini and generate response, create upload for csv and save to firebase -->
<!--  -->
