{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class=" bg-color-evilred h-full w-full flex flex-col justify-center">
  <main class="w-full bg-white">
    <h1>BreachedBeaver</h1> 
  </main>
</div>

    <div class="side-bar left-bar"></div>
    <div class="side-bar right-bar"></div>

    <!-- Title and slogan at the top -->
    <div class="header-content">
        <div class="title-box">
            <h1> Breached Beaver </h1>
        </div>
        <p>We're Not Paying Your Ransom.</p>
    </div>

    <!-- Centered content below the header -->
    <div class="content">
        <p class="text-lg opacity-100">
            Analyze Tariff Impact. Find Canadian Suppliers. Make Optimal Decisions With The Help Of AI.
        </p>
        <a href="/dashboard" class="cta-button shadow-lg">Get Started</a>
    </div>
</div>

{% endblock %}

<!-- todo -->
<!-- style dashboard, give data to gemini and generate response, create upload for csv and save to firebase -->
<!--  -->
